.grid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.kapsayıcı {
    border-radius: 10px;
    border: solid rgb(234, 233, 241);
    box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.24);
    display: inline-block;
    font-size: 20px;
    width: 270px;
    margin: auto;
    text-align: left;
}

.butonyazı {
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #f9f8fa;
    cursor: pointer;
    color: #fafafa;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    margin: 1px 1px;
    background-color: rgb(6, 6, 192);
    width: 100%;
    display: block;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
}

.icerik {
    padding: 12px;
}

.butonyazı:hover {
    background-color: red;
}